*{
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;  
}
body {
    display: block;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
}

.logo-docplanner{
    width: 215px;
    height: 40px;
}

.navbar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 25px;
}

.navbar ul li a{
    color: #747474;
    text-decoration: none;
    font-weight: bold;
}


.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}

.dropdown-content a,.dropdown-content li {
    display: block;
    width: 100%;
}

.dropdown-content a {
    color: #747474;
    line-height: 120%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content a:hover {
    background-color: #f6f8f8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-nav{
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #fff;
}

main{
    padding-top: 50px;
}

#about{
    display: inline-block;
}

.mini-logo{
    text-align: center;
}

.title{
    text-align: center;
    font-size: 2.125rem;
    color: rgb(0, 179, 155);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
}

.box {
    width: 50%;
    float: left;
    min-height: 1px;
    padding: 10px;
}

.box p {
    margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400;
}

.grid{
    margin: 0 -10px;
    display: flex;
}

.box1{
    width: 33%;
    float: left;
    min-height: 1px;
    padding: 10px;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
}

.img{
   width: 24px;
   height: 24px;
}

.sous-box1{
    background-color:#00ccb1 ;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease 0s;
    box-sizing: inherit;
}

.sous-box2{
    background-color:#3d83df ;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease 0s; 
    box-sizing: inherit;
}

.sous-box3{
    background-color:#1b2734 ;
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    transition: all .2s ease 0s; 
    box-sizing: inherit;
}

.sous-box1 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.sous-box1 h1{
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}

.sous-box2 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.sous-box2 h1{
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}

.sous-box3 h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.sous-box3 h1{
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
}

.brand{
    margin: 1.875rem auto;
    display: flex;
    padding: 0 20px;
}

.brand h1{
    color: #00b39b;
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
}

@media (max-width: 700px) {
    .brands {
        margin:1.875rem auto;
    }

    .brands h1 {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .brands__logos {
        float: none;
        width: 100%;
        margin-top: 1.25rem;
    }
}
.brands__logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    list-style: none;
    width: 67%;
}

@media (max-width: 700px) {
    .brands__logos {
        justify-content:center;
        width: 100%;
    }
}

.brands__logos li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    width: 25%;
}

.brands__logos .tuotempo img {
    height: 16px;
}

.brands__logos .jameda img {
    height: 20px;
}

.brands__logos .clinicloud,.brands__logos .gipo {
    width: 12.5%;
}

.brands__logos .clinicloud img,.brands__logos .gipo img {
    height: 34px;
}

.brands__logos a {
    display: inline-block;
    padding: 5px 0;
}

.brands__logos a svg {
    height: 20px;
    width: auto;
    max-width: 100%;
}

.brands__logos a path {
    transition: all .2s ease 0s;
    fill: hsla(0,0%,67%,.7);
}

.brands__logos a:hover path {
    fill: #00bfa5;
}

.stat{
    display: flex;
    background: #e5faf8;
    padding: 1.875em 0 0.625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}

.stat1{
    text-align: center;
    justify-content: center;
    align-content: center;
}

.stat2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;

}


.title1{
    display: inline-block;
    padding: 20px ;
    margin: 20px;
    text-align: center;
 
}
h1{
    color: #00b39b;
}

.office-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}
.office{
    transition: all .2s ease 0s;
    min-zoom: 1;
}
.office a {
    padding: 20px;
    text-decoration: none ;
    color: #ababab;
}


.office__desc {
    margin-top: 10px;
    font-weight: bold;
}

.main-footer {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}

.main-footer .section__inner,.main-footer p {
    font-size: 12px;
    color: #ababab;

}

.main-footer p {
    margin-bottom: .4em;
}
.section__inner a{
    text-decoration: none;
    outline: 0;
    transition: all .2s ease 0s;
}




